
<section class='login_erb'>

<h1>LOGIN</h1>

<form action="/session" method= "post">
    <label for="email">EMAIL</label>
    <input type="text" name="email">

    <label for="password">PASSWORD</label>
    <input type="password" name="password"> 

    <button>LOGIN</button> 
    <a href="/sign_up">SIGN UP</a>

</form>

</section>