

<section class="sign_up">

    <h2>Sign Up</h2>


    <form action="/users" method= "post">

        <label for="">First Name</label>
        <input type="text" name="first_name">

        <label for="">Last Name</label>
        <input type="text" name="last_name">

        <label for="email">EMAIL</label>
        <input type="text" name="email">

        <label for="password">PASSWORD</label>
        <input type="password" name="passowrd"> 

        <button>SIGN UP</button> 

    </form>

</section>